form{
    margin-top: 15%;
  background-color: white;
  margin-left: 400px;
  margin-right: 200px;  
  height: 400px;
  width: 500px;
  position: fixed;
  border: 3px solid green;
  background-color: white;
  justify-content: center;
}
input{
  width: 100%;
}

h2{
text-align: center;
padding-top: 20px;
}
body{
  background-color: lightblue;
}
.button_edit{
padding-left: 150px;  
} 

